/* -Changed the header selection by class to by element in accordance with the HTML doc.
   -Replaced colors in document with ":root" directory variables.
*/

/* ↓↓↓ Created ":root" directory. ↓↓↓ */
:root {
  /* Colors */
  --primary-color: #d9dcd6;
  --secondary-color: #ffffff;
  --tertiary-color: #2a607c;
  --quaternary-color: #2589bd;
  --quinary-color: #0072bb;
  /* Fonts */
  --first-font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  --second-font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-color);
}

header {
  padding: 20px;
  font-family: var(--first-font-family);
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

#seo {
  color: var(--primary-color);
}

nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: var(--second-font-family);
  font-size: 20px;
}
/* Removed redundant selectors. */
nav ul {
  list-style-type: none;
}
/* Removed redundant selectors. */
nav li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

p {
  font-size: 16px;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}
/* Was selected by class now selected by element. */
section {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: var(--second-font-family);
  background-color: var(--quaternary-color);
}

/* ↓↓↓ Changed the HTML to consolidate classes and remove redundancy. ↓↓↓ */
.benefit-box {
  margin-bottom: 32px;
  color: var(--secondary-color);
  margin-bottom: 10px;
  text-align: center;
}

.benefits img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.content-boxs {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: var(--second-font-family);
  background-color: var(--quinary-color);
  color: var(--secondary-color);
}

.content-boxs img {
  max-height: 200px;
}

.content-boxs h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

footer {
  padding: 30px;
  clear: both;
  font-family: var(--first-font-family);
  text-align: center;
}

footer h2 {
  font-size: 20px;
}
